
ul, ol {
    margin: 0;
    padding: 0;
}
.cb-slideshow {
    height: 770px;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 0;
}
.cb-slideshow:after {
    background: url("../images/blur_slider/pattern.png") repeat scroll left top transparent;
    content: "";
    height: 770px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}
.cb-slideshow li span {
    animation: 36s linear 0s normal none infinite imageAnimation;
    background-position: 50% 50%;
    background-size: cover;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}
.cb-slideshow li div {
    animation: 36s linear 0s normal none infinite titleAnimation;
    bottom: 205px;
    left: 0;
    opacity: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 1000;
}
.cb-slideshow li div h3 {
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Kelly Slab',cursive;
    font-size: 45px;
    line-height: 65px;
    padding: 0 30px;
    text-shadow: 4px 5px 0 rgba(0, 0, 0, 0.4);
}
.cb-slideshow li:nth-child(1) span {
    background-image: url("../images/blur_slider/1.jpg");
}
.cb-slideshow li:nth-child(2) span {
    animation-delay: 6s;
    background-image: url("../images/blur_slider/2.jpg");
}
.cb-slideshow li:nth-child(3) span {
    animation-delay: 12s;
    background-image: url("../images/blur_slider/3.jpg");
}
.cb-slideshow li:nth-child(4) span {
    animation-delay: 18s;
    background-image: url("../images/blur_slider/4.jpg");
}
.cb-slideshow li:nth-child(5) span {
    animation-delay: 24s;
    background-image: url("../images/blur_slider/5.jpg");
}
.cb-slideshow li:nth-child(6) span {
    animation-delay: 30s;
    background-image: url("../images/blur_slider/6.jpg");
}
.cb-slideshow li:nth-child(2) div {
    animation-delay: 6s;
}
.cb-slideshow li:nth-child(3) div {
    animation-delay: 12s;
}
.cb-slideshow li:nth-child(4) div {
    animation-delay: 18s;
}
.cb-slideshow li:nth-child(5) div {
    animation-delay: 24s;
}
.cb-slideshow li:nth-child(6) div {
    animation-delay: 30s;
}
.no-cssanimations .cb-slideshow li span {
    opacity: 1;
}
.cb-slideshow li div h3 {
    font-size: 100px;
}
.cb-slideshow li div h3 {
    font-size: 50px;
}

