

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body {
    background-color: #E8E8E8;
    color: #000000;
    font-family: 'Open Sans Condensed',sans-serif;
    font-size: 16px;
    position: relative;
}
h2, h3, h4, h5, h6 {
    color: #666666;
    font-family: 'Open Sans Condensed',sans-serif;
}
h1 {
    font-family: 'Open Sans Condensed',sans-serif;
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 25px;
}
h2 {
    font-weight: 400;
    margin-bottom: 15px;
}
h3 {
    margin-bottom: 1px;
}
h5 {
    text-align: center;
}
p {
    font-family: 'Poly',serif;
    font-size: 16px;
    margin-bottom: 20px;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    color: #000000;
    font-size: 15px;
    font-style: italic;
    letter-spacing: 0;
    line-height: 5px;
    margin-left: 12px;
}
.navbar-inverse .navbar-inner {
    background-color: #EC602F;
    background-image: none;
    background-repeat: repeat-x;
    border-color: transparent;
}
.navbar-inverse .brand, .navbar-inverse .nav > li > a {
    color: #FFFFFF;
    font-weight: 500;
    text-shadow: none;
    text-transform: uppercase;
}
.navbar-inverse .brand:hover, .navbar-inverse .nav > li > a:hover, .navbar-inverse .brand:focus, .navbar-inverse .nav > li > a:focus {
    color: #FFFFFF;
}
.navbar-inverse .brand {
    color: #FFFFFF;
}
.navbar-inverse .navbar-text {
    color: #999999;
}
.navbar-inverse .nav > li > a:focus, .navbar-inverse .nav > li > a:hover {
    background-color: transparent;
    color: #FFFFFF;
}
.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
    background-color: transparent;
    color: #FFFFFF;
}
.navbar-inverse .navbar-link {
    color: #999999;
}
.navbar-inverse .navbar-link:hover, .navbar-inverse .navbar-link:focus {
    color: #FFFFFF;
}
.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
    box-shadow: none;
}
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
    background-color: transparent;
    box-shadow: none;
    color: #424242;
    text-decoration: none;
}
hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #EEEEEE -moz-use-text-color #BFBFBF;
    border-image: none;
    border-left: 0 none;
    border-right: 0 none;
    border-style: dashed none;
    border-width: 1px 0;
    margin: 20px 0;
}
#headerwrap {
    background: url("../img/gaben.jpg") no-repeat fixed center center / cover transparent;
    margin-top: -60px;
    min-height: 600px;
    padding-top: 160px;
    text-align: center;
    width: 100%;
}
#headerwrap h1 {
    color: #FFFFFF;
    font-family: 'Open Sans Condensed',sans-serif;
    font-size: 70px;
    font-weight: 400;
    margin-bottom: 25px;
}
#welcomewrap {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #424242;
    padding-bottom: 15px;
    padding-top: 15px;
    width: 100%;
}
#welcomewrap .container {
    padding: 0;
}
#welcomewrap h2 {
    font-size: 30px;
    line-height: 34px;
    text-align: center;
}
#servicewrap {
    display: block;
    text-align: center;
}
#servicewrap h2 {
    border-left: 10px solid #EC602F;
    margin-left: 5px;
    padding-left: 3px;
    text-align: left;
}
#servicewrap p {
    text-align: left;
}
#example {
    background: none repeat scroll 0 0 #FFFFFF;
    border-top: 1px solid gray;
    display: block;
    margin-bottom: 0;
    text-align: center;
    width: 100%;
}
#aboutwrap {
    display: block;
    text-align: center;
}
#aboutwrap h2 {
    border-left: 10px solid #EC602F;
    margin-left: 5px;
    padding-left: 3px;
    text-align: left;
}
#aboutwrap h3 {
    color: #EC602F;
    font-family: 'Open Sans Condensed',sans serif;
    font-size: 30px;
    font-weight: 400;
}
#aboutwrap h4 {
    color: #8A8A8A;
    font-family: 'Open Sans Condensed',sans serif;
    font-size: 26px;
    font-weight: 400;
    line-height: 30px;
}
#aboutwrap p {
    text-align: left;
}
#projectwrap {
    background: url("../img/lLHX3.jpg") no-repeat fixed center center / cover transparent;
    min-height: 400px;
    text-align: center;
    width: 100%;
}
#projectwrap .boxcolor {
    background: none repeat scroll 0 0 rgba(225, 112, 75, 0.95);
    clear: both;
    margin-top: 150px;
    opacity: 1;
}
#projectwrap h1 {
    color: #FFFFFF;
    font-family: 'Open Sans Condensed',sans-serif;
    font-size: 60px;
    font-weight: 500;
    padding: 20px;
}
#projectwrap_2 h2 {
    border-left: 10px solid #EC602F;
    margin-left: 5px;
    padding-left: 3px;
    text-align: left;
}
#projectwrap_2 h3 {
    color: #EC602F;
    font-family: 'Open Sans Condensed',sans serif;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}
#pricewrap {
    display: block;
    text-align: center;
}
#pricewrap h2 {
    padding: 20px;
}
#footerwrap {
    background: none repeat scroll 0 0 #232121;
    padding-bottom: 45px;
    text-align: center;
    width: 100%;
}
#footerwrap h2 {
    border-left: 10px solid #EC602F;
    color: #FFFFFF;
    margin-bottom: 40px;
    margin-left: 5px;
    padding-left: 3px;
    text-align: left;
}
#footerwrap h3 {
    color: #EC602F;
    font-family: 'Open Sans Condensed',sans serif;
    font-size: 30px;
    font-weight: 400;
    margin: 5px;
    text-align: center;
}
#footerwrap h4 {
    color: #FFFFFF;
    font-family: 'Open Sans Condensed',sans serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    margin: 5px;
}
#footerwrap p {
    color: #8A8888;
    font-family: 'Open Sans Condensed',sans serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    margin: 5px;
    padding-top: 50px;
}
#map {
    display: block;
    margin: 0;
    width: 100%;
}
.mask {
    display: block;
    line-height: 20px;
    padding: 10px;
}
.mask:hover {
    background-color: #FFFFFF;
}
.mask2 img {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    display: block;
    margin: 0 auto;
    max-width: 100%;
    opacity: 0.8;
    transition: all 0.3s ease-in-out 0s;
}
.mask2 img:hover {
    opacity: 1;
}
.about_item {
    background-color: #FFFFFF;
    margin: 0 9px 19px 8.33px;
    min-height: 100px;
}
.about_item_center {
    position: relative;
    width: 100%;
    z-index: 1;
}
.about_item_center img {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color #4B4646;
    border-image: none;
    border-radius: 5px 5px 0 0;
    border-style: none none solid;
    border-width: 0 0 1px;
    height: auto;
    width: 100%;
}
.about_item_center p {
    color: #8A8A8A;
    font-size: 16px;
    margin: 5px;
    padding: 0 0 20px;
    text-align: left;
}
.project_item {
    background-color: #FFFFFF;
    margin: 0 9px 19px 8.33px;
    min-height: 100px;
}
.project_item_center {
    position: relative;
    width: 100%;
    z-index: 1;
}
.project_item_center img {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color #4B4646;
    border-image: none;
    border-style: none none solid;
    border-width: 0 0 1px;
    height: auto;
    width: 100%;
}
.project_item h3 {
    padding: 10px;
}
.clients {
    padding: 20px;
    text-align: center;
}
.clients img {
    padding-bottom: 20px;
}
.pricing-table-wrapper {
    margin: 10px 0;
    text-align: center;
}
.pricing-table {
    display: inline-block;
}
.pricing-column {
    list-style: none outside none;
    position: relative;
    transition: all 0.3s ease 0s;
}
.pricing-column:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4);
    z-index: 1;
}
.pricing-column:hover > .pricing-title {
    border-top: 3px solid rgba(236, 96, 47, 0.9);
}
.pricing-column:hover > .pricing-button {
    background-color: #D7D7D7;
}
.pricing-column li {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.01);
    border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
    padding: 12px;
    text-align: center;
    white-space: nowrap;
}
.pricing-column li:nth-child(2n) {
    background: none repeat scroll 0 0 #E3E3E3;
}
.pricing-column li.pricing-title {
    border-top: 3px solid rgba(0, 0, 0, 0.6);
    font-size: 20px;
    font-weight: 600;
}
.pricing-column li.pricing-price {
    color: #EC602F;
    font-size: 200%;
    line-height: 120%;
}
.pricing-column li.pricing-price span {
    font-size: 45%;
    line-height: 120%;
}
.pricing-column .pricing-button .button {
    font-size: 18px;
    margin: 0 !important;
}
#headerwrap {
    margin-top: -20px;
    padding-top: 160px;
}
















